

.bg-photos { 
    min-height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

// Display 1
.gallery{
    // margin-top: 130px;
    min-width: 100%;
    min-height: 100%;
    ul{
        background: $primary-color-opacity;
        min-width: 100%;
        min-height: 100vh;


        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // align-items: baseline;
        // align-content: space-between;
        li{
            // width: 30%;
            // height: 200px;
            max-width: 100%;
            min-height: 100%;
            margin: 0 auto;

            list-style-type: none;
        }
    }
}