nav{
    width: 100%;
    min-height: 40px;
    overflow: hidden;
    position: fixed;
    padding: 20px;
    top: 0;
    background: $primary-color-opacity;

    .searchForm{
        width: 80%;
        float: left;
        input{
            min-width: 60%;
            padding: 10px;
            font-size: 18px;
            margin: 0 auto;
            background: #FDFFFC;
            border-radius: 3px;
        }
        button{
            min-width: 10%;
            padding: 10px;
            font-size: 18px;
            background: #FDFFFC;
            border-radius: 3px;
            text-transform: uppercase;
            &:hover {
                background-color: $secondary-color;
                cursor: pointer;
                span{
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }

    .time{
        font-size: 18px;
        font-weight: bold;
        color: #FDFFFC;
        float: left;
        padding: 10px;
    }
}