$primary-color: #011627;
$primary-color-opacity: rgba(1, 22, 39, 0.8);
$secondary-color: #2EC4B6; 

.alert-no-results{
    font-size: 26px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
    
}